body {
  margin: 0;
  height: 100vh;
  background: #ffe4ec;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.card {
  background: white;
  padding: 300px;
  border-radius: 12px;
  text-align: center;
  width: 500px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

button {
  padding: 50px 70px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  font-size: 24px;
  cursor: pointer;
}

.yes {
  background: #ff4d6d;
  color: white;
}

.no {
  background: #ccc;
  position: absolute;
}

img {
  width: 100px;
  margin: 10px;
  border-radius: 12px;
}

/* FLOATING HEARTS */
.heart {
  position: fixed;
  bottom: -20px;
  font-size: 20px;
  animation: float 5s linear infinite;
}

@keyframes float {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
